In [2]:
'''Question 1:
Write a Python program that defines three types of variables:
•	A string variable to store your name.
•	An integer variable to store your age.
•	A float variable to store your height in meters.
Print these variables along with their types using the type() function.'''

Name = "komathy"
Age = 26
Height = 1.5

print("Name:",Name,type(Name))
print("Age:",Age,type(Age))
print("Height:",Height,type(Height))

Name: komathy <class 'str'>
Age: 26 <class 'int'>
Height: 1.5 <class 'float'>

In [3]:
'''Question 2. Lists
Question:
Create a list of five fruits (["apple", "banana", "cherry", "date", "elderberry"]):
a) Print the first and last fruit from the list.
b) Add a new fruit to the end of the list.
c) Remove the second fruit from the list.
d) Sort the list in alphabetical order and print it'''

#Create a list of five fruits (["apple", "banana", "cherry", "date", "elderberry"]):
fruits = ["apple", "banana", "cherry", "date", "elderberry"]
#Print the first and last fruit from the list.
print("first fruit: ",fruits[0])
print("Last fruit:",fruits[-1])
#Add a new fruit to the end of the list.
fruits.append("melon")
print("After adding a new fruit:",fruits)
#Remove the second fruit from the list.
fruits.pop(1)
print("After removing a second fruit:",fruits)
#Sort the list in alphabetical order and print it
fruits.sort()
print("After sorting:",fruits)

first fruit:  apple
Last fruit: elderberry
After adding a new fruit: ['apple', 'banana', 'cherry', 'date', 'elderberry', 'melon']
After removing a second fruit: ['apple', 'cherry', 'date', 'elderberry', 'melon']
After sorting: ['apple', 'cherry', 'date', 'elderberry', 'melon']

In [4]:
'''3. Tuples
Question:
Create a tuple to store the names of three programming languages ("Python", "Java", "C++"):
a) Access the second language in the tuple.
b) Try to replace the second language with "JavaScript". What happens?
c) Convert the tuple to a list, make the modification, and convert it back to a tuple.'''
#Create a tuple to store the names of three programming languages ("Python", "Java", "C++")
languages = ("Python", "Java", "C++")
#Access the second language in the tuple.
print(languages[1])
#Try to replace the second language with "JavaScript". What happens?
languages[1] = ("Javascript")
print(languages)

Java

TypeError: 'tuple' object does not support item assignment

In [5]:
#Convert the tuple to a list, make the modification, and convert it back to a tuple
languages_list = list(languages) # Convert tuple to list
languages_list[1] = "JavaScript" # Modify the second element
languages = tuple(languages_list)
print(languages)

('Python', 'JavaScript', 'C++')

In [6]:

'''4. Data Dictionary - Basics
Question:
Create a dictionary with the following student details:
•	name: "John"
•	age: 18
•	grade: "A"
a) Access and print the value of grade.
b) Add a new key-value pair for hobby with the value "reading".
c) Delete the age key from the dictionary.'''

student = {
          "Name" : "John",
          "Age" : 18,
          "Grade" : "A"
}
#Access and print the value of grade.
print(student["Grade"])
#Add a new key-value pair for hobby with the value "reading"
student["Hobby"] = "Reading"
print("After adding a new dict",student)
#Delete the age key from the dictionary
del student ["Age"]
print("After Deleting:",student)

A
After adding a new dict {'Name': 'John', 'Age': 18, 'Grade': 'A', 'Hobby': 'Reading'}
After Deleting: {'Name': 'John', 'Grade': 'A', 'Hobby': 'Reading'}

In [7]:
'''5. Data Dictionary - Operations
Question:
You are given the following dictionary:
marks = {"Math": 85, "Science": 90, "English": 78}
a) Find the average marks across all subjects.
b) Update the marks for Math to 88.
c) Check if the key "History" exists in the dictionary'''

marks = {"Math": 85, "Science": 90, "English": 78}
#Find the average marks across all subjects.
average = sum(marks.values())/len(marks)
print(average)
#Update the marks for Math to 88.
marks["Math"] =88
print(marks)
#Check if the key "History" exists in the dictionary
print ("History" in marks)

84.33333333333333
{'Math': 88, 'Science': 90, 'English': 78}
False

In [8]:

'''. Functions - Basics
Question:
Write a Python function named square that takes an integer as input and returns its square.
•	Call the function with the value 7 and print the result.'''

def Square(x):
    result = x**2
    return result
#	Call the function with the value 7 and print the result
answer = Square(7)
print(answer)

49

In [10]:
'''7. Functions - Default Arguments
Question:
Write a Python function named greet that takes two parameters:
•	name (a string)
•	message (a string with a default value of "Welcome!")
Call the function twice:
1.	Once by providing both name and message.
2.	Once by providing only name'''

# Define the greet function
def greet(name, message="Welcome!"):
    print(f"{message} {name}")

# Call the function by providing both name and message
greet("koms", "Hello!")

# Call the function by providing only the name
greet("koms")

Hello! koms
Welcome! koms

In [11]:

'''8. Functions - Positional and Keyword Arguments
Question:
Write a Python function named student_info that accepts the following parameters:
•	name (string)
•	age (integer)
•	grade (string, default value is "A")
Call the function with:
1.	Positional arguments only.
2.	Keyword arguments only.
Print the result in each case.'''

# Define the student_info function
def student_info(name, age, grade="A"):
    return f"Name: {name}, Age: {age}, Grade: {grade}"

# Call the function with positional arguments only
result_positional = student_info("Alice", 20)
print("Using positional arguments:", result_positional)

# Call the function with keyword arguments only
result_keyword = student_info(name="Bob", age=22, grade="B")
print("Using keyword arguments:", result_keyword)

Using positional arguments: Name: Alice, Age: 20, Grade: A
Using keyword arguments: Name: Bob, Age: 22, Grade: B

In [12]:
'''9. Lists and Functions
Question:
Write a Python program with the following requirements:
a) Create a list of numbers: [10, 20, 30, 40, 50].
b) Define a function named double_values that takes a list as input and returns a new list with each value doubled.
c) Pass the list to the function and print the returned list.'''

# a) Create a list of numbers
numbers = [10, 20, 30, 40, 50]

# b) Define the double_values function
def double_values(num_list):
    return [num * 2 for num in num_list]

# c) Pass the list to the function and print the returned list
doubled_numbers = double_values(numbers)
print("Doubled values:", doubled_numbers)

Doubled values: [20, 40, 60, 80, 100]

In [13]:
'''10. Combining Data Dictionary and Functions
Question:
Create a dictionary named students to store the names and grades of three students:
students = {"Alice": 85, "Bob": 78, "Eve": 92}
a) Write a function named add_student that accepts a dictionary, a student name, and a grade, then adds the student to the dictionary.
b) Write another function named average_grade that calculates the average grade of all students in the dictionary.
Call the functions to:
1.	Add a new student ("David": 88).
2.	Calculate and print the average grade.'''

# a) Create the dictionary with students' names and grades
students = {"Alice": 85, "Bob": 78, "Eve": 92}

# Define the add_student function
def add_student(student_dict, name, grade):
    student_dict[name] = grade

# Define the average_grade function
def average_grade(student_dict):
    return sum(student_dict.values()) / len(student_dict)

# Call the functions
# Add a new student ("David": 88)
add_student(students, "David", 88)

# Calculate and print the average grade
avg_grade = average_grade(students)
print("Average grade:", avg_grade)

Average grade: 85.75